body{
    background:linear-gradient(rgb(120,140,180),rgb(120,140,180),#81b478);
}
#div2{
    border:5px solid ;
    width: 170px;
    height:20px;
    border-radius: 20px;
}
#div1{
    border:8px;
    border-radius: 20px;
    width: 185px;


}
button{
    color:red;

    width:30px;
    background:linear-gradient(rgb(120,140,180),rgb(120,140,180),#81b478);


}